## How to import pandas and check the version?

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(pd.show_versions(as_json=True))
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

0.25.1
{'system': {'commit': None, 'python': '3.7.4.final.0', 'python-bits': 64, 'OS': 'Darwin', 'OS-release': '17.7.0', 'machine': 'x86_64', 'processor': 'i386', 'byteorder': 'little', 'LC_ALL': 'en_US.UTF-8', 'LANG': 'en_CA.UTF-8', 'LOCALE': 'en_US.UTF-8'}, 'dependencies': {'pandas': '0.25.1', 'numpy': '1.17.2', 'pytz': '2019.3', 'dateutil': '2.8.0', 'pip': '19.2.3', 'setuptools': '41.4.0', 'Cython': '0.29.13', 'pytest': '5.2.1', 'hypothesis': None, 'sphinx': '2.2.0', 'blosc': None, 'feather': None, 'xlsxwriter': '1.2.1', 'lxml.etree': '4.4.1', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10.3', 'IPython': '7.8.0', 'pandas_datareader': None, 'bs4': '4.8.0', 'bottleneck': '1.2.1', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.1.1', 'numexpr': '2.7.0', 'odfpy': None, 'openpyxl': '3.0.0', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 's3fs': None, 'scipy': '1.3.1', 'sqlalchemy': '1.3.9', 'tables': '3.5.2', 'xarray': None, 'xlrd': '1.2.0', 'xlwt': '1.3.0'}}
None

## How to create a series from a list, numpy array and dict?

In [2]:
import numpy as np
a=list('jkghsjddkjsdbcjgdjbc')
b=['1224534535']
bb= list('1224534535')
c=np.arange(26)
d=dict(zip(bb,c))

## How to convert the index of a series into a column of a dataframe?

In [3]:
d
s=pd.Series(d)
s.reset_index()

{'1': 0, '2': 2, '4': 6, '5': 9, '3': 8}

  index  0
0     1  0
1     2  2
2     4  6
3     5  9
4     3  8

## How to combine many series to form a dataframe?

In [70]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df=pd.concat([ser1,ser2],axis=1) #axis=0 donbale ham, axis=1 donbal
df1=pd.DataFrame({'col1': ser1, 'col2': ser2})

## How to assign name to the series’ index?

In [87]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'

## How to get the items of series A not present in series B?

In [9]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## How to get the items not common to both series A and series B?

In [15]:
#set(ser1) ^ set(ser2) # everything except common
set(ser1).difference(ser2) #just ser1
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

{1, 2, 3}

## How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [23]:
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-1.90247284,  3.99603234,  7.33826761, 10.75519925, 20.82394687])

## How to get frequency counts of unique items of a series?

In [30]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

f    6
d    5
e    5
h    4
b    3
a    3
c    2
g    2
dtype: int64

## How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [23]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
#ser[~ser.isin(ser.value_counts().index[:2])]='others'
ser
#ser.value_counts()[0:2]

0     4
1     4
2     3
3     3
4     1
5     3
6     2
7     3
8     4
9     2
10    1
11    2
dtype: int64

## 11-How to bin a numeric series to 10 groups of equal size?

In [2]:
ser = pd.Series(np.random.random(20))
ser1=pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

## 12. How to convert a numpy array to a dataframe of given shape?

In [11]:
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser)
#Reshape the series ser into a dataframe with 7 rows and 5 columns
df=pd.DataFrame(ser.values.reshape(7,5))
df
ser

   0  1  2  3  4
0  3  3  4  4  5
1  3  8  7  9  4
2  7  6  7  6  4
3  2  7  7  7  7
4  4  4  8  6  2
5  2  8  9  9  5
6  7  3  4  2  7

0     3
1     3
2     4
3     4
4     5
5     3
6     8
7     7
8     9
9     4
10    7
11    6
12    7
13    6
14    4
15    2
16    7
17    7
18    7
19    7
20    4
21    4
22    8
23    6
24    2
25    2
26    8
27    9
28    9
29    5
30    7
31    3
32    4
33    2
34    7
dtype: int64

## 13. How to find the positions of numbers that are multiples of 3 from a series?

In [43]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser
np.argwhere(ser % 3==0)

0    1
1    4
2    4
3    1
4    4
5    1
6    2
dtype: int64

/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:61: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return bound(*args, **kwds)

array([], shape=(0, 1), dtype=int64)

In [44]:
def fun(ser):
    for i in range(len(ser)):
        if ser[i] %3==0:
            print(i)

## 14. How to extract items at given positions from a series

In [48]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

0     a
4     e
8     i
14    o
20    u
dtype: object

## 15. How to stack two series vertically and horizontally ?

In [54]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.concat([ser1,ser2],axis=1)
pd.concat([ser1,ser2],axis=0) #ser1.append(ser2)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

## 16. How to get the positions of items of series A in another series B?

In [66]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
ser1
ser2
[pd.Index(ser1).get_loc(i) for i in ser2]

0    10
1     9
2     6
3     5
4     3
5     1
6    12
7     8
8    13
dtype: int64

0     1
1     3
2    10
3    13
dtype: int64

[5, 4, 0, 8]

In [69]:
#df[~df['Role'].str.contains("Hotel Seven Seas, an extraordinary")]
#df['Role'].value_counts()
#df['Role'].nunique()
#df = df[~df['Role'].isin([""])]
#df[~df["Role"].str.contains("Deeper understanding of Transfer")]
#search_values = ['Deeper understanding','staffing company in the world','TEKsystems is a part of Allegis Group','Reviewing protocol SAP & RAP','IMS certification/ re certification & surveillance audits']
#df=df[~ df.Role.str.contains('|'.join(search_values),na=False)]
#df = df[df['Role'].str.len() <= 30]

## 17. How to compute the mean squared error on a truth and predicted series?

In [2]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
sum((truth-pred)**2)/len(truth)
np.mean((truth-pred)**2)

## 18. How to convert the first character of each element in a series to uppercase?

In [1]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Note
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser1.map(lambda x:x**2)
ser1**2

NameError: name 'pd' is not defined

## 19. How to calculate the number of characters in each word in a series?

In [3]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(len)

0    3
1    2
2    4
3    4
dtype: int64

## 20. How to compute difference of differences between consequtive numbers of a series?

In [24]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff().tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [25]:
#l=[]
#for i in range(len(ser)):
#    l.append(ser[i+1]-ser[i])
#    print(l)

## 21. How to convert a series of date-strings to a timeseries?

In [68]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [69]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

## How to convert series to df and change column name and convert string to date

In [70]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

df=ser.to_frame() # or pd.DataFrame()
df.rename(columns={0:"first"},inplace=True)
df["first"]=pd.to_datetime(df["first"])

## 23. How to convert year-month string to dates corresponding to the 4th day of the month?

In [72]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
from dateutil.parser import parse
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

## 24. How to filter words that contain atleast 2 vowels from a series?

In [90]:
from collections import Counter
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [97]:
def filter_by_vowel_count(words, count):
    result = []
    for word in words:
         if sum(p in 'aeiou' for p in word) == count:
                result.append(word)
    return(result)

In [92]:
Counter("maryam").get(1,0)

0